<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189483100516-un671is011hh0r9rqku0i7sc3ca1phsm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189483100516-un671is011hh0r9rqku0i7sc3ca1phsm</string>
	<key>API_KEY</key>
	<string>AIzaSyBlVPXyswkjVoO4wEdWkZzAK5rmaaHpqMM</string>
	<key>GCM_SENDER_ID</key>
	<string>189483100516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soso.japaneseMarket.stg</string>
	<key>PROJECT_ID</key>
	<string>japanese-market-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>japanese-market-stg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189483100516:ios:ef7813d2e91431a10b7271</string>
</dict>
</plist>