<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65027728769-1tfkk56hkjg7kivivi1rb3jtajovu7k2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65027728769-1tfkk56hkjg7kivivi1rb3jtajovu7k2</string>
	<key>API_KEY</key>
	<string>AIzaSyDWg2wYweEXm14knzo__ZHRn1CchZWnM2o</string>
	<key>GCM_SENDER_ID</key>
	<string>65027728769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soso.japaneseMarket.dev</string>
	<key>PROJECT_ID</key>
	<string>japanese-market-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>japanese-market-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65027728769:ios:0eecb3f727ecf2cd7d3480</string>
</dict>
</plist>